//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    display: inline-flex;
    padding: 0px 0px;
    @media (any-hover: hover) {
        &:hover {
        }
    }
    &._fw {
        width: 100%;
    }
}

.btn {
    background-color: #ff6464;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    height: 47px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
    transition: background-color 0.3s ease 0s;
    line-height: 145%;
    @media (min-width: 992px) {
        &:hover {
            background-color: #bb4949;
        }
    }
    &._fw {
        width: 100%;
    }
}
